html, body {
    overflow-x: hidden;
    padding-bottom: 0;
}

/**
Define :
Orange #ED7F10
Tomate : #DE2916
 */

.leftbloc {
    position: fixed;
    top: 0;
    height: 380px;
    padding-left: 0;
    border: 1px solid #d1ecf1;
    box-shadow: 4px 4px 40px #000;
    border-radius: 0px 5px 40px 0px;
}

.topMenu {
    background-color: #dedede;
}

.footer {
    bottom: 0;
    background-color: #dedede;
    padding: 0;
}

.leftbloc div > a img {
    border-radius: 100px;
    width: 80%;
    height: 90px;
}

.allheight {
    height: -webkit-fill-available;
}

.main {
    margin-right: 0;
}

.bg-tomate {
    background-color: #DE2916;
}

.fondCuisine {
    background: url("../images/Wallpapers/planche.jpg");
    background-size: 100%;
    padding: 0;
}

.rechercheBloc {
    border: 1px solid #ED7F10 !important;
    box-shadow: 1px 1px 10px #ED7F10 !important;
}

.btn-tomate {
    background-color: #DE2916;
    color: #fff !important;
}

.list-group > a {
    text-align: center;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.underline {
    text-decoration: underline;
}

.min-width280 {
    min-width: 280px !important;
}

.carousel-item > img {
    width: 100%;
    height: 60%;
}

.carousel-caption {
    bottom: 0;
    height: 45%;
}

.boutonDetail {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-indicators {
    display: none;
}

.min-height650 {
    min-height: 650px;
}

.btn-orange {
    background-color: #ED7F10 !important;
    border-radius: 15px;
}

.carousel-item {
    background-color: orange;
}

.text-red {
    color: red;
}

.decoration-none {
    text-decoration: none;
}

.decoration-none:hover {
    text-decoration: none;
}

/**
@media queries
 */

/**
Version LG
 */
@media screen and (min-width: 1200px) {
    .main {
        min-height: 800px;
    }
}

/**
Version Medium
 */

/* Au dessus de */
@media screen and (min-width: 992px) {
    .navbar-top {
        display: none;
    }

    .topMenu {
        min-height: 250px;
    }

    .bandeauMenu {
        border-radius: 40px;
        display: block !important;
        box-shadow: 1px 1px 15px #000;
    }

    .bandeauMenu > ul {
        border-radius: 40px;
    }

    .bandeauMenu ul > li a {
        background-color: #ED7F10 !important;
        border-radius: 15px;
    }

    .main {
        margin-top: -5%;
    }
}

/* En dessous de */

/**
Version Small
 */
@media screen and (max-width: 992px) {
    .leftbloc {
        display: none;
    }

    .main {
        margin-top: 70px !important;
    }

    .sliderfloat {
        float: initial !important;
    }

    .savebr {
        display: none;
    }

    .fondCuisine {
        background: none;
    }
}

/**
Version XSmall
 */
@media screen and (max-width: 768px) {
    .sliderfloat {
        display: none;
    }

    .fondCuisine {
        background: none;

    }
}

.clearboth {
    height: 40px;
}